<header>
    <nav class="navbar navbar-dark bg-primary fixed-top shadow">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/ngew.svg" alt="Logo" height="24">
        </a>
        <nav>
            <!-- <div ngbDropdown class="d-inline-block">
                <span ngbDropdownToggle class="account-dropdown app-pointer text-light ml-3">
                    <app-profile-image [userInitials]="userInitials" src="assets/man3.png"></app-profile-image>
                </span>
                <div ngbDropdownMenu class="dropdown-menu-right shadow" aria-labelledby="profileDropdown">
                    <div ngbDropdownItem class="d-flex align-items-center" style="cursor: default;">
                        <app-profile-image></app-profile-image>
                        <span class="ml-1 text-muted"><small>tester1@rhinerock.com</small></span>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/user" routerLinkActive="active" ngbDropdownItem>Account</a>
                    <button ngbDropdownItem>Settings</button>
                    <div class="dropdown-divider"></div>
                    <button (click)="auth.logout()" ngbDropdownItem>Sign out</button>
                </div>
            </div> -->
            <span (click)="isCollapsed = !isCollapsed" class="text-light app-pointer d-md-none ml-3">
                <fa-icon icon="bars" size="lg"></fa-icon>
            </span>
        </nav>
        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto d-md-none">
                <li *ngFor="let i of mainMenu" class="nav-item">
                    <a class="nav-link" routerLink="{{ i.route }}" routerLinkActive="active">{{ i.title }}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="h-100 d-flex">
    <nav class="d-none d-md-block sidebar">
        <div class="sidebar-sticky py-3">
            <ul class="nav flex-column">
                <li *ngFor="let i of mainMenu" class="nav-item">
                    <a class="nav-link active" routerLink="{{ i.route }}" routerLinkActive="active">
                        {{ i.title }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="bg-light flex-grow-1">
        <div class="container-fluid py-3">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>